<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="gmsecWebsocket">
    <head>
        <title>GMSEC Messages Over Websocket</title>
        <meta charset="UTF-8">
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/stompjs/lib/stomp.min.js"></script>
        <script src="node_modules/sockjs-client/dist/sockjs.min.js"></script>
        <script src="app.js"></script>
        <script src="WebSocket.js"></script>
        <script src="MessageController.js"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div ng-controller="MessageController as messageController">
            <p ng-hide="messageController.messages.length > 0">
                Publish some messages on the GMSEC Bus to see them here.
            </p>
            <div class="message-container" ng-repeat="message in messageController.messages">
                <h2>Message</h2>
                <p>Subject {{message.SUBJECT}}</p>
                <p>Kind {{message.KIND}}</p>
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>TYPE</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in message.FIELD">
                            <td>{{field.NAME}}</td>
                            <td>{{field.TYPE}}</td>
                            <td>{{field.VALUE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
