.message-container {
    background-color: #dfdfdf;
    border-radius: 5px;
    border: 1px #aaa solid;
    margin: 5px;
    padding: 5px;
    max-width: 1000px;
    position:relative;
}

.message-container h2 {
    margin:5px 0;
}

table {
    border-collapse: collapse;
    width:100%;
}

th {
    border-bottom: 1px solid #000;
}
th {
    text-align: left;
}

td, th {
    padding:5px;
}

tbody tr:nth-child(odd) td {
    background-color: #fff;
}
